* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    color: #d6be9b;
}

header {
    background-color: #d6be9b;
    color: #070219;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;

}

header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 40px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #1e0f53;
    text-align: center;
}


.cards-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ebe9f4;
    
}

.cards-section img{
    width: 70px;
    height: 90ps;
    border: 5px solid #d6be9b;
}


.card {
    background-color: #1e0f53;
    padding: 20px;
    border-radius: 50px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2{ 
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    

    
}

footer img {
    width: 30px;
    height: 30ps;
}
