* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    color: #d6be9b;
}

header {
    background-color: #d6be9b;
    color: #070219;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;

}

header .logo img {
    width: 100px;
    height: 100px;
    margin: 20px 20px;
    border-radius: 50px;
    border: 5px solid #470dcf;
    
    
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #1e0f53;
    text-align: center;
}


.cards-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ebe9f4;
    
}

.cards-section img{
    width: 70px;
    height: 90ps;
    border: 5px solid #d6be9b;
}


.card {
    background-color: #1e0f53;
    padding: 20px;
    border-radius: 50px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2{ 
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    

    
}

footer img {
    width: 30px;
    height: 30ps;
}

/*Estilos para dispositivos moviles */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    
    header .logo img {
        width: 80px;
        height: 80px;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .cards-section {
        flex-direction: column;
        padding: 10px;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    footer {
        padding: 15px;
    }
}

/*Estilos para dispositivos tablet */
@media (min-width: 601px) and (max-width: 900px) {
    header {
        padding: 10px 15px;
    }
    
    header .logo img {
        width: 90px;
        height: 90px;
    }

    header nav ul {
        flex-direction: row;
    }

    .cards-section {
        flex-direction: column;
        padding: 15px;
    }

    .card {
        width: 80%;
        margin: 0 auto 20px auto;
    }

    footer {
        padding: 20px;
    }
}
